/* debug */
.border-debug{
    border: 1px dashed red;

}



/* *******
 * HEADER * 
 *********/

 #header{
    height: 60px;
    background-color: #FFFFFF;
    
 }

#header .small_logo{
    height: 40px;
}

.search_bar{
    background-color: #e9ecef;
}


/* *****
 * NAV * 
 *******/

#sidebar{
    width: 70px;
    background-image: url("../img/sidebar-bg.png");
    background-color: #051E34;
    height:calc(100vh - 60px);
    
}











/* *******
 * MEDIA * 
 *********/

 @media screen and (min-width: 992px){
    #sidebar{
        width: 150px;
    }
    
 }
