/* debug */
.border-debug{
    border: 1px dashed red;

}



/* *****
 * NAV * 
 *******/

#aside{
    width: 50px;
    
}











/* *******
 * MEDIA * 
 *********/

 @media screen and (min-width: 992px){
    #aside{
        width: 200px;
    }
    
 }
