/* debug */
.border-debug{
    border: 1px dashed red;
    min-height: 100px;

}



/* *******
 * HEADER * 
 *********/

 #header{
    
    background-color: #FFFFFF;
    
 }

#header .small_logo{
    height: 40px;
}

.search_bar{
    background-color: #e9ecef;
}



/* ***********
 * OFFCANVAS * 
 *************/

.offcanvas-body form label{
    font-weight: bold;
    font-size: large;
   
}







/* *****
 * NAV * 
 *******/

#sidebar{
    width: 70px;
    background-image: url("../img/sidebar-bg.png");
    background-color: #051E34;
    height:calc(100vh - 60px);
    
}

.menu_nav:hover{
    background-color: rgba(255, 255, 255, 0.5);
}





/* **************
 * MAIN-CONTENT * 
 ****************/

.main_top{
    background-color: #1B72E8;
}


/* MAIN-BOTTOM */

.table-hover img{
    width: 30px;
    margin-right: 10px;
}

.table-hover th, td{
    vertical-align: middle;
}


.icon_table{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #808080;
    width: 40px;
    aspect-ratio: 1;   
    border-radius: 10%;    
}

    
    

.icon_table> .fa-solid{
    /* text-align: center;
    line-height: 30px; */
}
    


/* *******
 * MEDIA * 
 *********/

 @media screen and (min-width: 992px){
    #sidebar{
        width: 150px;
    }
    
    .offcanvas.offcanvas-end{
        max-width: 40%;
    }
 }
